<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Config</title>
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dist/libs/bs-stepper/bs-stepper.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/style.css}" rel="stylesheet">

    <script th:src="@{/dist/js/jquery-3.6.1.min.js}" ></script>
    <script th:src="@{/dist/libs/bs-stepper/bs-stepper.min.js}" ></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 golden-gate">
            <span class="title">Oracle GoldenGate Config</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-white shadow-sm">
            <div class="bs-stepper">
                <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#ggsHome-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="ggsHome-part-trigger">
                            <span class="bs-stepper-circle">1</span>
                            <span class="bs-stepper-label">GGS Home</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#ggsUser-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="ggsUser-part-trigger">
                            <span class="bs-stepper-circle">2</span>
                            <span class="bs-stepper-label">GGS User info</span>
                        </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#admin-part">
                        <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="admin-part-trigger">
                            <span class="bs-stepper-circle">3</span>
                            <span class="bs-stepper-label">Admin info</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="ggsHome-part" class="content" role="tabpanel" aria-labelledby="ggsHome-part-trigger">
                        <form
                                method="post"
                                role="form"
                                class="form-horizontal was-validated"
                                id="ggsHomeForm"
                        >
                            <div class="form-group mb-3">
                                <label class="control-label"> Ggs home path</label>
                                <input
                                        type="text"
                                        id="ggsHome"
                                        name="ggsHome"
                                        class="form-control"
                                        placeholder="Enter ggs home path"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please enter Oracle GoldenGate home directory.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <button type="button" class="btn btn-dark" >Test</button>
                                <button type="submit" class="btn btn-primary" >Next</button>
                            </div>

                        </form>
                    </div>
                    <div id="ggsUser-part" class="content" role="tabpanel" aria-labelledby="ggsUser-part-trigger">
                        <form
                                method="post"
                                role="form"
                                class="form-horizontal was-validated"
                                id="ggsUserForm"
                                enctype="multipart/form-data"
                        >
                            <div class="form-group mb-3">
                                <label class="control-label"> oracle user name</label>
                                <input
                                        type="text"
                                        id="ggsUser"
                                        name="ggsUser"
                                        class="form-control"
                                        placeholder="oracle user name"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please enter Oracle username.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label"> oracle user password</label>
                                <input
                                        type="password"
                                        id="ggsUserPwd"
                                        name="ggsUserPwd"
                                        class="form-control"
                                        placeholder="oracle user password"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please enter Oracle user password.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <button type="button" class="btn btn-dark" >Test</button>
                                <button type="submit" class="btn btn-primary" >Next</button>
                            </div>

                        </form>
                    </div>
                    <div id="admin-part" class="content" role="tabpanel" aria-labelledby="admin-part-trigger">
                        <form
                                method="post"
                                role="form"
                                class="form-horizontal was-validated"
                                id="adminUser"
                                enctype="multipart/form-data"
                        >
                            <div class="form-group mb-3">
                                <label class="form-label">First Name</label>
                                <input
                                        class="form-control"
                                        id="firstName"
                                        name="firstName"
                                        placeholder="Enter first name"
                                        type="text"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please enter first name.
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Last Name</label>
                                <input
                                        class="form-control"
                                        id="lastName"
                                        name="lastName"
                                        placeholder="Enter last name"
                                        type="text"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please enter last name.
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Email</label>
                                <input
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Enter email address"
                                        type="email"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please enter email.
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label">Password</label>
                                <input
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        placeholder="Enter password"
                                        type="password"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please enter password.
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Create User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    let stepper;
    $(document).ready(function () {
        stepper=new Stepper($('.bs-stepper')[0]);
        $.ajax({
            url: '/config/get/ggsHome',
            type: "GET",
            dataType: "json",
            success:function (data) {
                if (data.ggsHome!==undefined && data.ggsHome!==null){
                    $("#ggsHome").val(data.ggsHome);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
        $.ajax({
            url: '/config/get/ggsUser',
            type: "GET",
            dataType: "json",
            success:function (data) {
                if (data.ggsUser!==undefined && data.ggsUser!==null){
                    $("#ggsUser").val(data.ggsUser);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    });
    $('#ggsHomeForm').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/config/set/ggsHome',
            type: 'POST',
            data:$('#ggsHomeForm').serialize(),
            success:function(data){
                if (data.success){
                    stepper.to(2);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    });
    $('#ggsUserForm').submit(function (e){
        e.preventDefault();
        $.ajax({
            url: 'config/set/ggsUserInfo',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                'ggsUser':$('#ggsUser').val(),
                'ggsUserPwd':$('#ggsUserPwd').val()
            }),
            success:function (data){
                if(data.success){
                    stepper.to(3);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    });
    $('#adminUser').submit(function (e){
        e.preventDefault();
        $.ajax({
            url: '/admin/user/add',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                'firstName':$('#firstName').val(),
                'lastName':$('#lastName').val(),
                'email':$('#email').val(),
                'password':$('#password').val(),
            }),
            success:function (data){
                if(data.success){
                    window.location.href = "/";
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    });
</script>

<script th:src="@{/dist/js/bootstrap.bundle.min.js}"></script>



</body>
</html>