<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link th:href="@{/dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link th:href="@{/dist/libs/apexcharts/dist/apexcharts.css}" rel="stylesheet">
    <link th:href="@{/dist/css/style.css}" rel="stylesheet">

    <script th:src="@{/dist/libs/apexcharts/dist/apexcharts.min.js}" defer></script>
    <script th:src="@{/dist/js/jquery-3.6.1.min.js}" ></script>

    <!--    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>-->

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 golden-gate">
            <span class="title">Oracle GoldenGate</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-3" th:each="current: ${currents}">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="subheader" th:text="${current.program}"></div>
                        <div class="ms-auto lh-1">
                            <div class="dropdown">
                                <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item active" href="#">Last 7 days</a>
                                    <a class="dropdown-item" href="#">Last 30 days</a>
                                    <a class="dropdown-item" href="#">Last 3 months</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-baseline">
                        <div class="h1 mb-0 me-2" th:text="${current.groupName}"></div>
                        <div class="me-auto">
                            <span class="text-green d-inline-flex align-items-center lh-1" th:text="${current.statusTitle}"></span>
                        </div>
                    </div>
                </div>
                <div th:id="${current.groupName}" class="chart-sm"></div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 log">
            <div class="log-title">Logs</div>
            <div class="log-text">
                <p></p>
            </div>
        </div>
    </div>
</div>
<script>
    function getChartData(groupName) {
        $.ajax({
            url: '/getSevenDays/'+groupName,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log("data: ----->",groupName,data)
                chart(groupName,data.times,data.lagAtChkptsSec,data.lagSinceChkptSec)
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }
    function ggsLogs(){
        $.ajax({
            url: '/ggsLogs',
            type: "GET",
            dataType: "text",
            success: function (data) {
                $('.log-text > p').text(data.toString());
                console.log("LOG-----> ",data.toString())
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    /*[# th:each="current: ${currents}"]*/
    document.addEventListener("DOMContentLoaded", function () {
        getChartData(/*[[${current.groupName}]]*/);
        ggsLogs();
    });
    /*[/]*/
    /*]]>*/
</script>
<script>
    function chart(id,times,lagAtChkptsSec,lagSinceChkptSec){
        window.ApexCharts && (new ApexCharts(document.getElementById(id), {
            chart: {
                type: "area",
                fontFamily: 'inherit',
                height: 40.0,
                sparkline: {
                    enabled: true
                },
                animations: {
                    enabled: false
                },
            },
            dataLabels: {
                enabled: false,
            },
            fill: {
                colors: ['#e91e3c','#fd4e41'],
                opacity: .16,
                type: 'solid'
            },
            stroke: {
                width: 2,
                lineCap: "round",
                curve: "smooth",
            },
            series: [
                {
                    name: "Lag at Chkpt(Second)",
                    data: lagAtChkptsSec
                },
                {
                    name: "Lag since ChkptSec(Second)",
                    data: lagSinceChkptSec
                }],
            tooltip: {
                theme: 'dark'
            },
            grid: {
                strokeDashArray: 4,
            },
            xaxis: {
                labels: {
                    padding: 0,
                },
                tooltip: {
                    enabled: false
                },
                axisBorder: {
                    show: false,
                },
                type: 'datetime',
            },
            yaxis: {
                labels: {
                    padding: 4
                },
            },
            colors: ['#e91e3c','#fd4e41'],
            labels: times,
            legend: {
                show: false,
            },
        })).render();
    }
</script>
<script th:src="@{/dist/js/bootstrap.bundle.min.js}" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>



</body>
</html>